In [1]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

In [2]:
csv_file1 = "Resources/cfb20.csv"
cfb_data1 = pd.read_csv(csv_file1)
cfb_data1.head()

,Team,Games,Win,Loss,Off.Rank,Off.Plays,Off.Yards,Off.Yards.Play,Off.TDs,Off.Yards.per.Game,...,Average.Time.of.Possession.per.Game,Turnover.Rank,Fumbles.Recovered,Opponents.Intercepted,Turnovers.Gain,Fumbles.Lost,Interceptions.Thrown.y,Turnovers.Lost,Turnover.Margin,Avg.Turnover.Margin.per.Game
0,Air Force (Mountain West),6,3,3,73,373,2336,6.26,19,389.3,...,32:30,58,3,5,8,5,3,8,0,0.00
1,Akron (MAC),6,1,5,121,360,1687,4.69,12,281.2,...,30:35,98,4,2,6,3,6,9,-3,-0.50
2,Alabama (SEC),11,11,0,5,764,5983,7.83,68,543.9,...,30:45,12,10,11,21,7,4,11,10,0.91
3,App State (Sun Belt),12,9,3,26,845,5424,6.42,49,452.0,...,32:18,57,3,15,18,6,11,17,1,0.08
4,Arizona (Pac-12),5,0,5,86,373,1847,4.95,10,369.4,...,28:01,126,1,2,3,5,7,12,-9,-1.80

In [3]:
cfb_data1.insert(0, 'Year', '2020')

In [4]:
cfb_data1.insert(0, 'Unique_ID', range(0, 0 + len(cfb_data1)))

In [5]:
#cfb_data1 = cfb_data1.set_index('Unique_ID')

In [6]:
cfb_data1['Conference'] = (np.where(cfb_data1['Team'].str.contains(''),
                  cfb_data1['Team'].str.split('(').str[1],
                  cfb_data1['Team']))
cfb_data1.head()

,Unique_ID,Year,Team,Games,Win,Loss,Off.Rank,Off.Plays,Off.Yards,Off.Yards.Play,...,Turnover.Rank,Fumbles.Recovered,Opponents.Intercepted,Turnovers.Gain,Fumbles.Lost,Interceptions.Thrown.y,Turnovers.Lost,Turnover.Margin,Avg.Turnover.Margin.per.Game,Conference
0,0,2020,Air Force (Mountain West),6,3,3,73,373,2336,6.26,...,58,3,5,8,5,3,8,0,0.00,Mountain West)
1,1,2020,Akron (MAC),6,1,5,121,360,1687,4.69,...,98,4,2,6,3,6,9,-3,-0.50,MAC)
2,2,2020,Alabama (SEC),11,11,0,5,764,5983,7.83,...,12,10,11,21,7,4,11,10,0.91,SEC)
3,3,2020,App State (Sun Belt),12,9,3,26,845,5424,6.42,...,57,3,15,18,6,11,17,1,0.08,Sun Belt)
4,4,2020,Arizona (Pac-12),5,0,5,86,373,1847,4.95,...,126,1,2,3,5,7,12,-9,-1.80,Pac-12)

In [7]:
cfb_data1['Team'] = cfb_data1['Team'].str.split('(').str[0]
cfb_data1['Conference'] = cfb_data1['Conference'].str.split(')').str[0]
cfb_data1.head()

,Unique_ID,Year,Team,Games,Win,Loss,Off.Rank,Off.Plays,Off.Yards,Off.Yards.Play,...,Turnover.Rank,Fumbles.Recovered,Opponents.Intercepted,Turnovers.Gain,Fumbles.Lost,Interceptions.Thrown.y,Turnovers.Lost,Turnover.Margin,Avg.Turnover.Margin.per.Game,Conference
0,0,2020,Air Force,6,3,3,73,373,2336,6.26,...,58,3,5,8,5,3,8,0,0.00,Mountain West
1,1,2020,Akron,6,1,5,121,360,1687,4.69,...,98,4,2,6,3,6,9,-3,-0.50,MAC
2,2,2020,Alabama,11,11,0,5,764,5983,7.83,...,12,10,11,21,7,4,11,10,0.91,SEC
3,3,2020,App State,12,9,3,26,845,5424,6.42,...,57,3,15,18,6,11,17,1,0.08,Sun Belt
4,4,2020,Arizona,5,0,5,86,373,1847,4.95,...,126,1,2,3,5,7,12,-9,-1.80,Pac-12

In [8]:
cfb_data1.head()

,Unique_ID,Year,Team,Games,Win,Loss,Off.Rank,Off.Plays,Off.Yards,Off.Yards.Play,...,Turnover.Rank,Fumbles.Recovered,Opponents.Intercepted,Turnovers.Gain,Fumbles.Lost,Interceptions.Thrown.y,Turnovers.Lost,Turnover.Margin,Avg.Turnover.Margin.per.Game,Conference
0,0,2020,Air Force,6,3,3,73,373,2336,6.26,...,58,3,5,8,5,3,8,0,0.00,Mountain West
1,1,2020,Akron,6,1,5,121,360,1687,4.69,...,98,4,2,6,3,6,9,-3,-0.50,MAC
2,2,2020,Alabama,11,11,0,5,764,5983,7.83,...,12,10,11,21,7,4,11,10,0.91,SEC
3,3,2020,App State,12,9,3,26,845,5424,6.42,...,57,3,15,18,6,11,17,1,0.08,Sun Belt
4,4,2020,Arizona,5,0,5,86,373,1847,4.95,...,126,1,2,3,5,7,12,-9,-1.80,Pac-12

In [9]:
csv_file2 = "Resources/cfb19.csv"
cfb_data2 = pd.read_csv(csv_file2)
cfb_data2.head()

,Team,Games,Win,Loss,Off.Rank,Off.Plays,Off.Yards,Off.Yards.Play,Off.TDs,Off.Yards.per.Game,...,Average.Time.of.Possession.per.Game,Turnover.Rank,Fumbles.Recovered,Opponents.Intercepted,Turnovers.Gain,Fumbles.Lost,Interceptions.Thrown.y,Turnovers.Lost,Turnover.Margin,Avg.Turnover.Margin.per.Game
0,Air Force (Mountain West),13,11,2,51,881,5483,6.22,55,421.8,...,34:28,78,9,7,16,12,6,18,-2,-0.15
1,Akron (MAC),12,0,12,130,725,2918,4.02,14,243.2,...,26:29,128,6,5,11,12,14,26,-15,-1.25
2,Alabama (SEC),13,11,2,6,842,6640,7.89,76,510.8,...,29:59,3,11,17,28,4,6,10,18,1.38
3,Appalachian St. (Sun Belt),14,13,1,39,969,6064,6.26,65,433.1,...,31:19,7,10,14,24,3,6,9,15,1.07
4,Arizona (Pac-12),12,4,8,30,873,5281,6.05,42,440.1,...,27:24,89,4,11,15,6,12,18,-3,-0.25

In [10]:
cfb_data2.insert(0, 'Year', '2019')

In [11]:
cfb_data2.insert(0, 'Unique_ID', range(0, 0 + len(cfb_data2)))

In [12]:
#cfb_data2 = cfb_data2.set_index('Unique_ID')

In [13]:
cfb_data2['Conference'] = (np.where(cfb_data2['Team'].str.contains(''),
                  cfb_data2['Team'].str.split('(').str[1],
                  cfb_data2['Team']))
cfb_data2.head()

,Unique_ID,Year,Team,Games,Win,Loss,Off.Rank,Off.Plays,Off.Yards,Off.Yards.Play,...,Turnover.Rank,Fumbles.Recovered,Opponents.Intercepted,Turnovers.Gain,Fumbles.Lost,Interceptions.Thrown.y,Turnovers.Lost,Turnover.Margin,Avg.Turnover.Margin.per.Game,Conference
0,0,2019,Air Force (Mountain West),13,11,2,51,881,5483,6.22,...,78,9,7,16,12,6,18,-2,-0.15,Mountain West)
1,1,2019,Akron (MAC),12,0,12,130,725,2918,4.02,...,128,6,5,11,12,14,26,-15,-1.25,MAC)
2,2,2019,Alabama (SEC),13,11,2,6,842,6640,7.89,...,3,11,17,28,4,6,10,18,1.38,SEC)
3,3,2019,Appalachian St. (Sun Belt),14,13,1,39,969,6064,6.26,...,7,10,14,24,3,6,9,15,1.07,Sun Belt)
4,4,2019,Arizona (Pac-12),12,4,8,30,873,5281,6.05,...,89,4,11,15,6,12,18,-3,-0.25,Pac-12)

In [14]:
cfb_data2['Team'] = cfb_data2['Team'].str.split('(').str[0]
cfb_data2['Conference'] = cfb_data2['Conference'].str.split(')').str[0]

In [15]:
cfb_data2.head()

,Unique_ID,Year,Team,Games,Win,Loss,Off.Rank,Off.Plays,Off.Yards,Off.Yards.Play,...,Turnover.Rank,Fumbles.Recovered,Opponents.Intercepted,Turnovers.Gain,Fumbles.Lost,Interceptions.Thrown.y,Turnovers.Lost,Turnover.Margin,Avg.Turnover.Margin.per.Game,Conference
0,0,2019,Air Force,13,11,2,51,881,5483,6.22,...,78,9,7,16,12,6,18,-2,-0.15,Mountain West
1,1,2019,Akron,12,0,12,130,725,2918,4.02,...,128,6,5,11,12,14,26,-15,-1.25,MAC
2,2,2019,Alabama,13,11,2,6,842,6640,7.89,...,3,11,17,28,4,6,10,18,1.38,SEC
3,3,2019,Appalachian St.,14,13,1,39,969,6064,6.26,...,7,10,14,24,3,6,9,15,1.07,Sun Belt
4,4,2019,Arizona,12,4,8,30,873,5281,6.05,...,89,4,11,15,6,12,18,-3,-0.25,Pac-12

In [16]:
csv_file3 = "Resources/cfb18.csv"
cfb_data3 = pd.read_csv(csv_file3)
cfb_data3

,Team,Games,Win,Loss,Off.Rank,Off.Plays,Off.Yards,Off.Yards.Play,Off.TDs,Off.Yards.per.Game,...,Average.Time.of.Possession.per.Game,Turnover.Rank,Fumbles.Recovered,Opponents.Intercepted,Turnovers.Gain,Fumbles.Lost,Interceptions.Thrown.y,Turnovers.Lost,Turnover.Margin,Avg.Turnover.Margin.per.Game
0,Air Force (MWC),12,5,7,52,882,4978,5.64,43,414.8,...,34:22,77,7,7,14,10,5,15,-1,-0.08
1,Akron (MAC),12,4,8,126,764,3533,4.62,21,294.4,...,28:09,103,11,10,21,12,14,26,-5,-0.42
2,Alabama (SEC),15,14,1,6,1009,7830,7.76,85,522.0,...,30:19,34,7,14,21,7,8,15,6,0.40
3,Appalachian St. (Sun Belt),13,11,2,37,859,5603,6.52,58,431.0,...,30:34,30,6,17,23,5,12,17,6,0.46
4,Arizona (Pac-12),12,5,7,24,881,5492,6.23,43,457.7,...,28:15,90,8,7,15,9,10,19,-4,-0.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,West Virginia (Big 12),12,8,4,8,870,6147,7.07,60,512.3,...,28:50,23,9,15,24,7,10,17,7,0.58
125,Western Ky. (C-USA),12,3,9,101,870,4364,5.02,30,363.7,...,29:23,52,6,12,18,6,10,16,2,0.17
126,Western Mich. (MAC),13,7,6,35,962,5679,5.90,52,436.8,...,33:36,63,11,9,20,10,9,19,1,0.08
127,Wisconsin (Big Ten),13,8,5,36,875,5604,6.40,51,431.1,...,32:04,63,11,14,25,10,14,24,1,0.08
128,Wyoming (MWC),12,6,6,118,771,3969,5.15,27,330.8,...,29:56,40,5,10,15,7,4,11,4,0.33

In [17]:
cfb_data3.insert(0, 'Year', '2018')

In [18]:
cfb_data3.insert(0, 'Unique_ID', range(0, 0 + len(cfb_data3)))

In [19]:
#cfb_data3 = cfb_data3.set_index('Unique_ID')

In [20]:
cfb_data3['Conference'] = (np.where(cfb_data3['Team'].str.contains(''),
                  cfb_data3['Team'].str.split('(').str[1],
                  cfb_data3['Team']))

In [21]:
cfb_data3['Team'] = cfb_data3['Team'].str.split('(').str[0]
cfb_data3['Conference'] = cfb_data3['Conference'].str.split(')').str[0]

In [22]:
cfb_data3.head()

,Unique_ID,Year,Team,Games,Win,Loss,Off.Rank,Off.Plays,Off.Yards,Off.Yards.Play,...,Turnover.Rank,Fumbles.Recovered,Opponents.Intercepted,Turnovers.Gain,Fumbles.Lost,Interceptions.Thrown.y,Turnovers.Lost,Turnover.Margin,Avg.Turnover.Margin.per.Game,Conference
0,0,2018,Air Force,12,5,7,52,882,4978,5.64,...,77,7,7,14,10,5,15,-1,-0.08,MWC
1,1,2018,Akron,12,4,8,126,764,3533,4.62,...,103,11,10,21,12,14,26,-5,-0.42,MAC
2,2,2018,Alabama,15,14,1,6,1009,7830,7.76,...,34,7,14,21,7,8,15,6,0.40,SEC
3,3,2018,Appalachian St.,13,11,2,37,859,5603,6.52,...,30,6,17,23,5,12,17,6,0.46,Sun Belt
4,4,2018,Arizona,12,5,7,24,881,5492,6.23,...,90,8,7,15,9,10,19,-4,-0.33,Pac-12

In [23]:
partial_append_df = cfb_data2.append(cfb_data3)

In [24]:
final_df = cfb_data1.append(partial_append_df)

In [25]:
final_df

,Unique_ID,Year,Team,Games,Win,Loss,Off.Rank,Off.Plays,Off.Yards,Off.Yards.Play,...,Turnover.Rank,Fumbles.Recovered,Opponents.Intercepted,Turnovers.Gain,Fumbles.Lost,Interceptions.Thrown.y,Turnovers.Lost,Turnover.Margin,Avg.Turnover.Margin.per.Game,Conference
0,0,2020,Air Force,6,3,3,73,373,2336,6.26,...,58,3,5,8,5,3,8,0,0.00,Mountain West
1,1,2020,Akron,6,1,5,121,360,1687,4.69,...,98,4,2,6,3,6,9,-3,-0.50,MAC
2,2,2020,Alabama,11,11,0,5,764,5983,7.83,...,12,10,11,21,7,4,11,10,0.91,SEC
3,3,2020,App State,12,9,3,26,845,5424,6.42,...,57,3,15,18,6,11,17,1,0.08,Sun Belt
4,4,2020,Arizona,5,0,5,86,373,1847,4.95,...,126,1,2,3,5,7,12,-9,-1.80,Pac-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,124,2018,West Virginia,12,8,4,8,870,6147,7.07,...,23,9,15,24,7,10,17,7,0.58,Big 12
125,125,2018,Western Ky.,12,3,9,101,870,4364,5.02,...,52,6,12,18,6,10,16,2,0.17,C-USA
126,126,2018,Western Mich.,13,7,6,35,962,5679,5.90,...,63,11,9,20,10,9,19,1,0.08,MAC
127,127,2018,Wisconsin,13,8,5,36,875,5604,6.40,...,63,11,14,25,10,14,24,1,0.08,Big Ten
128,128,2018,Wyoming,12,6,6,118,771,3969,5.15,...,40,5,10,15,7,4,11,4,0.33,MWC

In [90]:
final_df.columns= final_df.columns.str.lower()

In [91]:
final_df

,unique_id,year,team,games,win,loss,off_rank,off_plays,off_yards,off_yards_play,...,turnover_rank,fumbles_recovered,opponents_intercepted,turnovers_gain,fumbles_lost,interceptions_thrown_y,turnovers_lost,turnover_margin,avg_turnover_margin_per_game,conference
0,0,2020,Air Force,6,3,3,73,373,2336,6.26,...,58,3,5,8,5,3,8,0,0.00,Mountain West
1,1,2020,Akron,6,1,5,121,360,1687,4.69,...,98,4,2,6,3,6,9,-3,-0.50,MAC
2,2,2020,Alabama,11,11,0,5,764,5983,7.83,...,12,10,11,21,7,4,11,10,0.91,SEC
3,3,2020,App State,12,9,3,26,845,5424,6.42,...,57,3,15,18,6,11,17,1,0.08,Sun Belt
4,4,2020,Arizona,5,0,5,86,373,1847,4.95,...,126,1,2,3,5,7,12,-9,-1.80,Pac-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,124,2018,West Virginia,12,8,4,8,870,6147,7.07,...,23,9,15,24,7,10,17,7,0.58,Big 12
125,125,2018,Western Ky.,12,3,9,101,870,4364,5.02,...,52,6,12,18,6,10,16,2,0.17,C-USA
126,126,2018,Western Mich.,13,7,6,35,962,5679,5.90,...,63,11,9,20,10,9,19,1,0.08,MAC
127,127,2018,Wisconsin,13,8,5,36,875,5604,6.40,...,63,11,14,25,10,14,24,1,0.08,Big Ten
128,128,2018,Wyoming,12,6,6,118,771,3969,5.15,...,40,5,10,15,7,4,11,4,0.33,MWC

In [26]:
#final_df.insert(0, 'Unique_ID', range(0, 0 + len(final_df)))

In [27]:
#final_df = final_df.set_index('Unique_ID')

In [28]:
final_df['Team'] = final_df['Team'].str.strip()
final_df['Conference'] = final_df['Conference'].str.strip()

In [29]:
final_df.head(50)

,Unique_ID,Year,Team,Games,Win,Loss,Off.Rank,Off.Plays,Off.Yards,Off.Yards.Play,...,Turnover.Rank,Fumbles.Recovered,Opponents.Intercepted,Turnovers.Gain,Fumbles.Lost,Interceptions.Thrown.y,Turnovers.Lost,Turnover.Margin,Avg.Turnover.Margin.per.Game,Conference
0,0,2020,Air Force,6,3,3,73,373,2336,6.26,...,58,3,5,8,5,3,8,0,0.00,Mountain West
1,1,2020,Akron,6,1,5,121,360,1687,4.69,...,98,4,2,6,3,6,9,-3,-0.50,MAC
2,2,2020,Alabama,11,11,0,5,764,5983,7.83,...,12,10,11,21,7,4,11,10,0.91,SEC
3,3,2020,App State,12,9,3,26,845,5424,6.42,...,57,3,15,18,6,11,17,1,0.08,Sun Belt
4,4,2020,Arizona,5,0,5,86,373,1847,4.95,...,126,1,2,3,5,7,12,-9,-1.80,Pac-12
5,5,2020,Arizona St.,4,2,2,20,252,1834,7.28,...,1,8,5,13,4,1,5,8,2.00,Pac-12
6,6,2020,Arkansas,10,3,7,67,678,3915,5.77,...,33,5,13,18,7,6,13,5,0.50,SEC
7,7,2020,Arkansas St.,11,4,7,13,849,5387,6.35,...,93,6,6,12,7,9,16,-4,-0.36,Sun Belt
8,8,2020,Army West Point,11,9,2,112,727,3574,4.92,...,36,5,13,18,8,5,13,5,0.45,FBS Independent
9,9,2020,Auburn,10,6,4,75,685,3850,5.62,...,33,4,9,13,1,7,8,5,0.50,SEC
10,10,2020,Ball St.,7,6,1,24,547,3176,5.81,...,9,8,6,14,1,6,7,7,1.00,MAC
11,11,2020,Baylor,9,2,7,118,629,2792,4.44,...,15,5,12,17,1,8,9,8,0.89,Big 12
12,12,2020,Boise St.,7,5,2,98,451,2443,5.42,...,106,0,3,3,4,3,7,-4,-0.57,Mountain West
13,13,2020,Boston College,11,6,5,74,751,4245,5.65,...,25,12,9,21,6,8,14,7,0.64,ACC
14,14,2020,Bowling Green,5,0,5,111,314,1632,5.20,...,127,1,0,1,4,7,11,-10,-2.00,MAC
15,15,2020,Buffalo,7,6,1,17,457,3349,7.33,...,28,4,6,10,2,4,6,4,0.57,MAC
16,16,2020,BYU,12,11,1,7,799,6266,7.84,...,19,10,8,18,5,4,9,9,0.75,FBS Independent
17,17,2020,California,4,1,3,115,286,1278,4.47,...,58,2,3,5,2,3,5,0,0.00,Pac-12
18,18,2020,Central Mich.,6,3,3,46,433,2522,5.82,...,9,7,8,15,5,4,9,6,1.00,MAC
19,19,2020,Charlotte,6,2,4,81,416,2266,5.45,...,42,3,5,8,4,2,6,2,0.33,C-USA
20,20,2020,Cincinnati,9,9,0,19,612,4205,6.87,...,37,4,15,19,9,6,15,4,0.44,AAC
21,21,2020,Clemson,11,10,1,10,831,5584,6.72,...,17,9,13,22,8,5,13,9,0.82,ACC
22,22,2020,Coastal Carolina,11,11,0,27,740,4915,6.64,...,9,8,14,22,7,4,11,11,1.00,Sun Belt
23,23,2020,Colorado,5,4,1,45,375,2105,5.61,...,58,4,4,8,3,5,8,0,0.00,Pac-12
24,24,2020,Colorado St.,4,1,3,114,272,1294,4.76,...,49,4,1,5,1,3,4,1,0.25,Mountain West
25,25,2020,Duke,11,2,9,80,829,4173,5.03,...,125,11,9,20,20,19,39,-19,-1.73,ACC
26,26,2020,East Carolina,9,3,6,58,655,3624,5.53,...,90,8,10,18,12,9,21,-3,-0.33,AAC
27,27,2020,Eastern Mich.,6,2,4,61,418,2402,5.75,...,58,9,3,12,6,6,12,0,0.00,MAC
28,28,2020,FIU,5,0,5,122,306,1404,4.59,...,76,1,2,3,2,2,4,-1,-0.20,C-USA
29,29,2020,Fla. Atlantic,9,5,4,113,595,2921,4.91,...,58,5,6,11,5,6,11,0,0.00,C-USA
30,30,2020,Florida,11,8,3,9,756,5597,7.40,...,75,5,9,14,9,7,16,-2,-0.18,SEC
31,31,2020,Florida St.,9,3,6,62,644,3570,5.54,...,90,6,8,14,4,13,17,-3,-0.33,ACC
32,32,2020,Fresno St.,6,3,3,16,464,2876,6.20,...,58,6,4,10,5,5,10,0,0.00,Mountain West
33,33,2020,Ga. Southern,13,8,5,84,814,4826,5.93,...,23,8,18,26,6,11,17,9,0.69,Sun Belt
34,34,2020,Georgia,9,7,2,44,620,3792,6.12,...,73,3,9,12,3,10,13,-1,-0.11,SEC
35,35,2020,Georgia St.,9,5,4,48,664,3759,5.66,...,73,8,10,18,10,9,19,-1,-0.11,Sun Belt
36,36,2020,Georgia Tech,10,3,7,72,691,3899,5.64,...,109,12,6,18,12,13,25,-7,-0.70,ACC
37,37,2020,Hawaii,9,5,4,77,640,3455,5.40,...,31,5,12,17,6,6,12,5,0.56,Mountain West
38,38,2020,Houston,8,3,5,54,590,3271,5.54,...,121,3,3,6,6,10,16,-10,-1.25,AAC
39,39,2020,Illinois,8,2,6,98,521,2792,5.36,...,19,8,7,15,5,4,9,6,0.75,Big Ten
40,40,2020,Indiana,7,6,1,95,485,2507,5.17,...,3,3,17,20,6,4,10,10,1.43,Big Ten
41,41,2020,Iowa,8,6,2,87,544,2949,5.42,...,8,7,11,18,4,5,9,9,1.12,Big Ten
42,42,2020,Iowa St.,11,8,3,31,743,4852,6.53,...,58,6,8,14,5,9,14,0,0.00,Big 12
43,43,2020,Kansas,9,0,9,126,637,2333,3.66,...,96,6,4,10,4,10,14,-4,-0.44,Big 12
44,44,2020,Kansas St.,10,4,6,106,601,3374,5.61,...,88,5,7,12,5,10,15,-3,-0.30,Big 12
45,45,2020,Kent St.,4,3,1,1,326,2426,7.44,...,49,2,3,5,2,2,4,1,0.25,MAC
46,46,2020,Kentucky,10,4,6,117,611,3118,5.10,...,22,6,13,19,7,5,12,7,0.70,SEC
47,47,2020,Liberty,10,9,1,14,720,4835,6.72,...,45,6,10,16,8,5,13,3,0.30,FBS Independent
48,48,2020,Louisiana,10,9,1,43,670,4226,6.31,...,13,6,15,21,5,7,12,9,0.90,Sun Belt
49,49,2020,Louisiana Tech,10,5,5,116,703,3158,4.49,...,76,5,9,14,2,14,16,-2,-0.20,C-USA

In [147]:
final_df.loc[final_df['team'] == 'Alabama']

,unique_id,year,team,games,win,loss,off_rank,off_plays,off_yards,off_yards_play,...,turnover_rank,fumbles_recovered,opponents_intercepted,turnovers_gain,fumbles_lost,interceptions_thrown_y,turnovers_lost,turnover_margin,avg_turnover_margin_per_game,conference
2,2,2020,Alabama,11,11,0,5,764,5983,7.83,...,12,10,11,21,7,4,11,10,0.91,SEC
2,2,2019,Alabama,13,11,2,6,842,6640,7.89,...,3,11,17,28,4,6,10,18,1.38,SEC
2,2,2018,Alabama,15,14,1,6,1009,7830,7.76,...,34,7,14,21,7,8,15,6,0.40,SEC

In [31]:
final_df.columns = final_df.columns.str.replace('.', '_')

<ipython-input-31-aa8c013ec172>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  final_df.columns = final_df.columns.str.replace('.', '_')

In [32]:
final_df

,Unique_ID,Year,Team,Games,Win,Loss,Off_Rank,Off_Plays,Off_Yards,Off_Yards_Play,...,Turnover_Rank,Fumbles_Recovered,Opponents_Intercepted,Turnovers_Gain,Fumbles_Lost,Interceptions_Thrown_y,Turnovers_Lost,Turnover_Margin,Avg_Turnover_Margin_per_Game,Conference
0,0,2020,Air Force,6,3,3,73,373,2336,6.26,...,58,3,5,8,5,3,8,0,0.00,Mountain West
1,1,2020,Akron,6,1,5,121,360,1687,4.69,...,98,4,2,6,3,6,9,-3,-0.50,MAC
2,2,2020,Alabama,11,11,0,5,764,5983,7.83,...,12,10,11,21,7,4,11,10,0.91,SEC
3,3,2020,App State,12,9,3,26,845,5424,6.42,...,57,3,15,18,6,11,17,1,0.08,Sun Belt
4,4,2020,Arizona,5,0,5,86,373,1847,4.95,...,126,1,2,3,5,7,12,-9,-1.80,Pac-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,124,2018,West Virginia,12,8,4,8,870,6147,7.07,...,23,9,15,24,7,10,17,7,0.58,Big 12
125,125,2018,Western Ky.,12,3,9,101,870,4364,5.02,...,52,6,12,18,6,10,16,2,0.17,C-USA
126,126,2018,Western Mich.,13,7,6,35,962,5679,5.90,...,63,11,9,20,10,9,19,1,0.08,MAC
127,127,2018,Wisconsin,13,8,5,36,875,5604,6.40,...,63,11,14,25,10,14,24,1,0.08,Big Ten
128,128,2018,Wyoming,12,6,6,118,771,3969,5.15,...,40,5,10,15,7,4,11,4,0.33,MWC

In [108]:
columns = final_df.columns.values.tolist()
columns

['unique_id',
 'year',
 'team',
 'games',
 'win',
 'loss',
 'off_rank',
 'off_plays',
 'off_yards',
 'off_yards_play',
 'off_tds',
 'off_yards_per_game',
 'def_rank',
 'def_plays',
 'yards_allowed',
 'yards_play_allowed',
 'off_tds_allowed',
 'total_tds_allowed',
 'yards_per_game_allowed',
 'first_down_rank',
 'first_down_runs',
 'first_down_passes',
 'first_down_penalties',
 'first_downs',
 'first_down_def_rank',
 'opp_first_down_runs',
 'opp_first_down_passes',
 'opp_first_down_penalties',
 'opp_first_downs',
 'x4th_down_rank',
 'x4th_attempts',
 'x4th_conversions',
 'x4th_percent',
 'x4rd_down_def_rank',
 'opp_4th_conversion',
 'opp_4th_attempt',
 'opponent_4th_percent',
 'kickoff_return_rank',
 'kickoffs_returned',
 'kickoff_return_yards',
 'kickoff_return_touchdowns',
 'avg_yard_per_kickoff_return',
 '___40',
 'kickoff_return_def_rank',
 'opp_kickoff_returns',
 'kickoff_touchbacks',
 'opponent_kickoff_return_yards',
 'opp_kickoff_return_touchdowns_allowed',
 'avg_yards_per_kickoff_return_allowed',
 'passing_off_rank',
 'pass_attempts',
 'pass_completions',
 'interceptions_thrown_x',
 'pass_yards',
 'pass_yards_attempt',
 'yards_completion',
 'pass_touchdowns',
 'pass_yards_per_game',
 'pass_def_rank',
 'opp_completions_allowed',
 'opp_pass_attempts',
 'opp_pass_yds_allowed',
 'opp_pass_tds_allowed',
 'yards_attempt_allowed',
 'yards_completion_allowed',
 'pass_yards_per_game_allowed',
 'penalty_rank',
 'penalties',
 'penalty_yards',
 'penalty_yards_per_game',
 'punt_return_rank',
 'punt_returns',
 'net_punt_return_yards',
 'punt_return_touchdowns',
 'avg_yards_per_punt_return',
 'punt_return_def_rank',
 'opp_punt_returns',
 'opp_net_punt_return_yards',
 'opp_punt_return_touchdowns_allowed',
 'avg_yards_allowed_per_punt_return',
 'redzone_off_rank',
 'redzone_attempts',
 'redzone_rush_td',
 'redzone_pass_td',
 'redzone_field_goals_made',
 'redzone_scores',
 'redzone_points',
 'redzone_def_rank',
 'opp_redzone_attempts',
 'opp_redzone_rush_td_allowed',
 'opp_redzone_pass_touchdowns_allowed',
 'opp_redzone_field_goals_made',
 'opp_redzone_scores',
 'redzone_points_allowed',
 'rushing_off_rank',
 'rush_attempts',
 'rush_yds',
 'yards_rush',
 'rushing_td',
 'rushing_yards_per_game',
 'rushing_def_rank',
 'opp_rush_attempts',
 'opp_rush_yards_alloweed',
 'yds_rush_allowed',
 'opp_rush_touchdowns_allowed',
 'rush_yards_per_game_allowed',
 'sack_rank',
 'sacks',
 'sack_yards',
 'average_sacks_per_game',
 'scoring_def_rank',
 'touchdowns_allowed',
 'opponent_extra_points',
 'x2_point_conversions_allowed',
 'opp_deflected_extra_points',
 'opp_feild_goals_made',
 'opp_safety',
 'points_allowed',
 'avg_points_per_game_allowed',
 'scoring_off_rank',
 'touchdowns',
 'pat',
 'x2_point_conversions',
 'defensive_points',
 'feild_goals',
 'safety',
 'total_points',
 'points_per_game',
 'tackle_for_loss_rank',
 'solo_tackle_for_loss',
 'assist_tackle_for_loss',
 'tackle_for_loss_yards',
 'total_tackle_for_loss',
 'tackle_for_loss_per_game',
 'x3rd_down_rank',
 'x3rd_attempts',
 'x3rd_conversions',
 'x3rd_percent',
 'x3rd_down_def_rank',
 'opp_3rd_conversion',
 'opp_3rd_attempt',
 'opponent_3rd_percent',
 'time_of_possession_rank',
 'time_of_possession',
 'average_time_of_possession_per_game',
 'turnover_rank',
 'fumbles_recovered',
 'opponents_intercepted',
 'turnovers_gain',
 'fumbles_lost',
 'interceptions_thrown_y',
 'turnovers_lost',
 'turnover_margin',
 'avg_turnover_margin_per_game',
 'conference']

In [87]:
win_loss = final_df[["Unique_ID", "Year", "Team", "Games", "Win", "Loss"]]
win_loss = win_loss.rename(columns=({'Unique_ID' : 'unique_id', 'Year': 'year', 'Team':'team', 'Games':'games', 'Win':'win', 'Loss':'loss'}))

In [94]:
offense = final_df[['year','team','unique_id',
 'off_rank',
 'off_plays',
 'off_yards',
 'off_yards_play',
 'off_tds',
 'off_yards_per_game',
 'scoring_off_rank',
 'points_per_game']]
offense

,year,team,unique_id,off_rank,off_plays,off_yards,off_yards_play,off_tds,off_yards_per_game,scoring_off_rank,points_per_game
0,2020,Air Force,0,73,373,2336,6.26,19,389.3,92,24.3
1,2020,Akron,1,121,360,1687,4.69,12,281.2,120,17.2
2,2020,Alabama,2,5,764,5983,7.83,68,543.9,2,49.7
3,2020,App State,3,26,845,5424,6.42,49,452.0,30,33.8
4,2020,Arizona,4,86,373,1847,4.95,10,369.4,118,17.4
...,...,...,...,...,...,...,...,...,...,...,...
124,2018,West Virginia,124,8,870,6147,7.07,60,512.3,10,40.3
125,2018,Western Ky.,125,101,870,4364,5.02,30,363.7,117,21.1
126,2018,Western Mich.,126,35,962,5679,5.90,52,436.8,38,32.0
127,2018,Wisconsin,127,36,875,5604,6.40,51,431.1,61,29.7
128,2018,Wyoming,128,118,771,3969,5.15,27,330.8,118,20.7

In [95]:
defense = final_df[["year","team","unique_id",
 'def_rank',
 'def_plays',
 'yards_allowed',
 'yards_play_allowed',
 'off_tds_allowed',
 'total_tds_allowed',
 'yards_per_game_allowed',
 'touchdowns_allowed',
 'points_allowed']]
defense

,year,team,unique_id,def_rank,def_plays,yards_allowed,yards_play_allowed,off_tds_allowed,total_tds_allowed,yards_per_game_allowed,touchdowns_allowed,points_allowed
0,2020,Air Force,0,8,360,1820,5.06,11,12,303.3,12,90
1,2020,Akron,1,110,365,2759,7.56,31,34,459.8,34,248
2,2020,Alabama,2,33,767,3863,5.04,25,25,351.2,25,214
3,2020,App State,3,18,798,3946,4.94,27,30,328.8,30,240
4,2020,Arizona,4,116,351,2365,6.74,25,26,473.0,26,199
...,...,...,...,...,...,...,...,...,...,...,...,...
124,2018,West Virginia,124,74,839,4876,5.81,39,41,406.3,41,326
125,2018,Western Ky.,125,82,862,5059,5.87,36,37,421.6,37,334
126,2018,Western Mich.,126,57,813,5026,6.18,57,60,386.6,60,449
127,2018,Wisconsin,127,29,814,4474,5.50,31,33,344.2,33,294
128,2018,Wyoming,128,19,818,3914,4.78,32,33,326.2,33,264

In [97]:
offense_firstdowns = final_df[['year','team','unique_id',
 'first_down_rank',
 'first_down_runs',
 'first_down_passes',
 'first_down_penalties',
 'first_downs']]
offense_firstdowns

,year,team,unique_id,first_down_rank,first_down_runs,first_down_passes,first_down_penalties,first_downs
0,2020,Air Force,0,14,52,46,8,106
1,2020,Akron,1,24,68,49,7,124
2,2020,Alabama,2,92,76,119,21,216
3,2020,App State,3,101,105,95,23,223
4,2020,Arizona,4,16,55,43,10,108
...,...,...,...,...,...,...,...,...
124,2018,West Virginia,124,73,112,131,19,262
125,2018,Western Ky.,125,72,112,127,22,261
126,2018,Western Mich.,126,58,112,123,20,255
127,2018,Wisconsin,127,19,98,108,24,230
128,2018,Wyoming,128,16,96,111,16,223

In [98]:
defense_firstdowns = final_df[['year','team','unique_id',
 'opp_first_down_runs',
 'opp_first_down_passes',
 'opp_first_down_penalties',
 'opp_first_downs']]
defense_firstdowns

,year,team,unique_id,opp_first_down_runs,opp_first_down_passes,opp_first_down_penalties,opp_first_downs
0,2020,Air Force,0,52,46,8,106
1,2020,Akron,1,68,49,7,124
2,2020,Alabama,2,76,119,21,216
3,2020,App State,3,105,95,23,223
4,2020,Arizona,4,55,43,10,108
...,...,...,...,...,...,...,...
124,2018,West Virginia,124,112,131,19,262
125,2018,Western Ky.,125,112,127,22,261
126,2018,Western Mich.,126,112,123,20,255
127,2018,Wisconsin,127,98,108,24,230
128,2018,Wyoming,128,96,111,16,223

In [99]:
offense_fourthdowns = final_df[['year','team','unique_id',
 'x4th_down_rank',
 'x4th_attempts',
 'x4th_conversions',
 'x4th_percent']]
offense_fourthdowns

,year,team,unique_id,x4th_down_rank,x4th_attempts,x4th_conversions,x4th_percent
0,2020,Air Force,0,14,8,11,0.727
1,2020,Akron,1,98,4,9,0.444
2,2020,Alabama,2,102,3,7,0.429
3,2020,App State,3,61,11,20,0.550
4,2020,Arizona,4,122,3,12,0.250
...,...,...,...,...,...,...,...
124,2018,West Virginia,124,49,9,16,0.563
125,2018,Western Ky.,125,115,9,24,0.375
126,2018,Western Mich.,126,40,20,34,0.588
127,2018,Wisconsin,127,109,5,12,0.417
128,2018,Wyoming,128,123,4,12,0.333

In [100]:
defense_fourthdowns = final_df[['year','team','unique_id',
 'opp_4th_conversion',
 'opp_4th_attempt',
 'opponent_4th_percent'
]]

defense_fourthdowns

,year,team,unique_id,opp_4th_conversion,opp_4th_attempt,opponent_4th_percent
0,2020,Air Force,0,3,10,0.300
1,2020,Akron,1,4,7,0.571
2,2020,Alabama,2,11,19,0.579
3,2020,App State,3,13,27,0.481
4,2020,Arizona,4,5,8,0.625
...,...,...,...,...,...,...
124,2018,West Virginia,124,12,19,0.632
125,2018,Western Ky.,125,12,22,0.545
126,2018,Western Mich.,126,8,16,0.500
127,2018,Wisconsin,127,7,13,0.538
128,2018,Wyoming,128,11,16,0.688

In [101]:
offense_kickoffs = final_df[['year','team','unique_id',
 'kickoffs_returned',
 'kickoff_return_yards',
 'kickoff_return_touchdowns',
 'avg_yard_per_kickoff_return']]
offense_kickoffs

,year,team,unique_id,kickoffs_returned,kickoff_return_yards,kickoff_return_touchdowns,avg_yard_per_kickoff_return
0,2020,Air Force,0,14,9,324,1
1,2020,Akron,1,16,6,340,0
2,2020,Alabama,2,33,17,610,0
3,2020,App State,3,42,17,728,1
4,2020,Arizona,4,2,17,110,1
...,...,...,...,...,...,...,...
124,2018,West Virginia,124,44,25,850,0
125,2018,Western Ky.,125,35,13,758,0
126,2018,Western Mich.,126,57,6,1087,1
127,2018,Wisconsin,127,13,54,263,0
128,2018,Wyoming,128,22,30,456,1

In [102]:
defense_kickoffs = final_df[['year','team','unique_id',
 'opp_kickoff_returns',
 'kickoff_touchbacks',
 'opponent_kickoff_return_yards',
 'opp_kickoff_return_touchdowns_allowed',
 'avg_yards_per_kickoff_return_allowed']]
defense_kickoffs

,year,team,unique_id,opp_kickoff_returns,kickoff_touchbacks,opponent_kickoff_return_yards,opp_kickoff_return_touchdowns_allowed,avg_yards_per_kickoff_return_allowed
0,2020,Air Force,0,14,9,324,1,23.14
1,2020,Akron,1,16,6,340,0,21.25
2,2020,Alabama,2,33,17,610,0,18.48
3,2020,App State,3,42,17,728,1,17.33
4,2020,Arizona,4,2,17,110,1,55.00
...,...,...,...,...,...,...,...,...
124,2018,West Virginia,124,44,25,850,0,19.32
125,2018,Western Ky.,125,35,13,758,0,21.66
126,2018,Western Mich.,126,57,6,1087,1,19.07
127,2018,Wisconsin,127,13,54,263,0,20.23
128,2018,Wyoming,128,22,30,456,1,20.73

In [104]:
offense_passing = final_df[['year','team','unique_id',
 'passing_off_rank',
 'pass_attempts',
 'pass_completions',
 'interceptions_thrown_x',
 'pass_yards',
 'pass_yards_attempt',
 'yards_completion',
 'pass_touchdowns',
 'pass_yards_per_game']]
offense_passing

,year,team,unique_id,passing_off_rank,pass_attempts,pass_completions,interceptions_thrown_x,pass_yards,pass_yards_attempt,yards_completion,pass_touchdowns,pass_yards_per_game
0,2020,Air Force,0,126,61,34,3,502,8.23,14.76,3,83.7
1,2020,Akron,1,119,148,83,6,838,5.66,10.10,4,139.7
2,2020,Alabama,2,5,350,263,4,3895,11.13,14.81,33,354.1
3,2020,App State,3,105,300,190,11,2245,7.48,11.82,21,187.1
4,2020,Arizona,4,77,189,114,7,1065,5.63,9.34,6,213.0
...,...,...,...,...,...,...,...,...,...,...,...,...
124,2018,West Virginia,124,4,445,291,10,4216,9.47,14.49,38,351.3
125,2018,Western Ky.,125,69,431,254,10,2722,6.32,10.72,15,226.8
126,2018,Western Mich.,126,62,396,243,9,3086,7.79,12.70,20,237.4
127,2018,Wisconsin,127,118,304,179,14,2050,6.74,11.45,19,157.7
128,2018,Wyoming,128,124,276,135,4,1576,5.71,11.67,8,131.3

In [105]:
defense_passing = final_df[['year','team','unique_id',
 'opp_completions_allowed',
 'opp_pass_attempts',
 'opp_pass_yds_allowed',
 'opp_pass_tds_allowed',
 'yards_attempt_allowed',
 'yards_completion_allowed',
 'pass_yards_per_game_allowed']]
defense_passing

,year,team,unique_id,opp_completions_allowed,opp_pass_attempts,opp_pass_yds_allowed,opp_pass_tds_allowed,yards_attempt_allowed,yards_completion_allowed,pass_yards_per_game_allowed
0,2020,Air Force,0,88,143,1001,7,7.00,11.38,166.8
1,2020,Akron,1,85,127,1270,12,10.00,14.94,211.7
2,2020,Alabama,2,227,393,2679,14,6.82,11.80,243.5
3,2020,App State,3,168,350,2135,13,6.10,12.71,177.9
4,2020,Arizona,4,80,122,1012,6,8.30,12.65,202.4
...,...,...,...,...,...,...,...,...,...,...
124,2018,West Virginia,124,247,389,3104,22,7.98,12.57,258.7
125,2018,Western Ky.,125,228,406,2985,17,7.35,13.09,248.8
126,2018,Western Mich.,126,205,328,2870,30,8.75,14.00,220.8
127,2018,Wisconsin,127,209,360,2458,14,6.83,11.76,189.1
128,2018,Wyoming,128,241,394,2360,15,5.99,9.79,196.7

In [106]:
penalties = final_df[['year','team','unique_id',
 'penalty_rank',
 'penalties',
 'penalty_yards',
 'penalty_yards_per_game']]
penalties

,year,team,unique_id,penalty_rank,penalties,penalty_yards,penalty_yards_per_game
0,2020,Air Force,0,19,27,245,40.83
1,2020,Akron,1,2,24,190,31.67
2,2020,Alabama,2,46,66,522,47.45
3,2020,App State,3,107,88,811,67.58
4,2020,Arizona,4,89,34,294,58.80
...,...,...,...,...,...,...,...
124,2018,West Virginia,124,106,85,800,66.67
125,2018,Western Ky.,125,77,79,683,56.92
126,2018,Western Mich.,126,59,77,678,52.15
127,2018,Wisconsin,127,56,74,657,50.54
128,2018,Wyoming,128,51,72,596,49.67

In [107]:
offense_punts = final_df[['year','team','unique_id',
 'punt_return_rank',
 'punt_returns',
 'net_punt_return_yards',
 'punt_return_touchdowns',
 'avg_yards_per_punt_return',
]]
offense_punts

,year,team,unique_id,punt_return_rank,punt_returns,net_punt_return_yards,punt_return_touchdowns,avg_yards_per_punt_return
0,2020,Air Force,0,26,4,15,0,3.75
1,2020,Akron,1,67,20,144,0,7.20
2,2020,Alabama,2,32,4,19,0,4.75
3,2020,App State,3,14,18,39,0,2.17
4,2020,Arizona,4,92,6,61,0,10.17
...,...,...,...,...,...,...,...,...
124,2018,West Virginia,124,56,9,69,0,7.67
125,2018,Western Ky.,125,99,7,72,0,10.29
126,2018,Western Mich.,126,58,13,102,1,7.85
127,2018,Wisconsin,127,109,17,191,1,11.24
128,2018,Wyoming,128,44,21,136,0,6.48

In [111]:
defense_punts = final_df[['year','team','unique_id',
 'punt_return_def_rank',
 'opp_punt_returns',
 'opp_net_punt_return_yards',
 'opp_punt_return_touchdowns_allowed',
 'avg_yards_allowed_per_punt_return'

]]
defense_punts

,year,team,unique_id,punt_return_def_rank,opp_punt_returns,opp_net_punt_return_yards,opp_punt_return_touchdowns_allowed,avg_yards_allowed_per_punt_return
0,2020,Air Force,0,26,4,15,0,3.75
1,2020,Akron,1,67,20,144,0,7.20
2,2020,Alabama,2,32,4,19,0,4.75
3,2020,App State,3,14,18,39,0,2.17
4,2020,Arizona,4,92,6,61,0,10.17
...,...,...,...,...,...,...,...,...
124,2018,West Virginia,124,56,9,69,0,7.67
125,2018,Western Ky.,125,99,7,72,0,10.29
126,2018,Western Mich.,126,58,13,102,1,7.85
127,2018,Wisconsin,127,109,17,191,1,11.24
128,2018,Wyoming,128,44,21,136,0,6.48

In [112]:
offense_redzone = final_df[['year','team','unique_id',
 'redzone_off_rank',
 'redzone_attempts',
 'redzone_rush_td',
 'redzone_pass_td',
 'redzone_field_goals_made',
 'redzone_scores',
 'redzone_points',
]]
offense_redzone

,year,team,unique_id,redzone_off_rank,redzone_attempts,redzone_rush_td,redzone_pass_td,redzone_field_goals_made,redzone_scores,redzone_points
0,2020,Air Force,0,117,24,13,1,3,17,0.708
1,2020,Akron,1,41,14,5,4,3,12,0.857
2,2020,Alabama,2,11,60,30,16,9,55,0.917
3,2020,App State,3,106,52,17,13,9,39,0.750
4,2020,Arizona,4,119,13,3,2,4,9,0.692
...,...,...,...,...,...,...,...,...,...,...
124,2018,West Virginia,124,89,53,17,18,8,43,0.811
125,2018,Western Ky.,125,119,42,14,11,7,32,0.762
126,2018,Western Mich.,126,83,55,27,9,9,45,0.818
127,2018,Wisconsin,127,41,53,21,16,9,46,0.868
128,2018,Wyoming,128,87,27,7,5,10,22,0.815

In [113]:
defense_redzone = final_df[['year','team','unique_id',
 'redzone_def_rank',
 'opp_redzone_attempts',
 'opp_redzone_rush_td_allowed',
 'opp_redzone_pass_touchdowns_allowed',
 'opp_redzone_field_goals_made',
 'opp_redzone_scores',
 'redzone_points_allowed'

]]
defense_redzone

,year,team,unique_id,redzone_def_rank,opp_redzone_attempts,opp_redzone_rush_td_allowed,opp_redzone_pass_touchdowns_allowed,opp_redzone_field_goals_made,opp_redzone_scores,redzone_points_allowed
0,2020,Air Force,0,5,13,4,3,2,9,0.692
1,2020,Akron,1,33,27,15,5,1,21,0.778
2,2020,Alabama,2,28,30,10,5,8,23,0.767
3,2020,App State,3,24,37,12,7,9,28,0.757
4,2020,Arizona,4,104,28,16,3,6,25,0.893
...,...,...,...,...,...,...,...,...,...,...
124,2018,West Virginia,124,93,45,14,14,11,39,0.867
125,2018,Western Ky.,125,51,49,13,10,17,40,0.816
126,2018,Western Mich.,126,117,55,21,22,7,50,0.909
127,2018,Wisconsin,127,77,44,14,9,14,37,0.841
128,2018,Wyoming,128,91,36,15,9,7,31,0.861

In [114]:
offense_rushing = final_df[['year','team','unique_id',
 'rushing_off_rank',
 'rush_attempts',
 'rush_yds',
 'yards_rush',
 'rushing_td',
 'rushing_yards_per_game'
]]
offense_rushing

,year,team,unique_id,rushing_off_rank,rush_attempts,rush_yds,yards_rush,rushing_td,rushing_yards_per_game
0,2020,Air Force,0,1,312,1834,5.88,16,305.7
1,2020,Akron,1,86,212,849,4.00,8,141.5
2,2020,Alabama,2,44,414,2088,5.04,35,189.8
3,2020,App State,3,7,545,3179,5.83,28,264.9
4,2020,Arizona,4,73,184,782,4.25,4,156.4
...,...,...,...,...,...,...,...,...,...
124,2018,West Virginia,124,75,425,1931,4.54,22,160.9
125,2018,Western Ky.,125,103,439,1642,3.74,15,136.8
126,2018,Western Mich.,126,38,566,2593,4.58,32,199.5
127,2018,Wisconsin,127,6,571,3554,6.22,32,273.4
128,2018,Wyoming,128,39,495,2393,4.83,19,199.4

In [115]:
defense_rushing = final_df[['year','team','unique_id',
 'rushing_def_rank',
 'opp_rush_attempts',
 'opp_rush_yards_alloweed',
 'yds_rush_allowed',
 'opp_rush_touchdowns_allowed',
 'rush_yards_per_game_allowed'
]]
defense_rushing

,year,team,unique_id,rushing_def_rank,opp_rush_attempts,opp_rush_yards_alloweed,yds_rush_allowed,opp_rush_touchdowns_allowed,rush_yards_per_game_allowed
0,2020,Air Force,0,33,217,819,3.77,4,136.5
1,2020,Akron,1,120,238,1489,6.26,19,248.2
2,2020,Alabama,2,12,374,1184,3.17,11,107.6
3,2020,App State,3,49,448,1811,4.04,14,150.9
4,2020,Arizona,4,125,229,1353,5.91,19,270.6
...,...,...,...,...,...,...,...,...,...
124,2018,West Virginia,124,48,450,1772,3.94,17,147.7
125,2018,Western Ky.,125,77,456,2074,4.55,19,172.8
126,2018,Western Mich.,126,68,485,2156,4.45,27,165.8
127,2018,Wisconsin,127,54,454,2016,4.44,17,155.1
128,2018,Wyoming,128,25,424,1554,3.67,17,129.5

In [116]:
sacks = final_df[['year','team','unique_id',
 'sack_rank',
 'sacks',
 'sack_yards',
 'average_sacks_per_game',
]]
sacks

,year,team,unique_id,sack_rank,sacks,sack_yards,average_sacks_per_game
0,2020,Air Force,0,3,2,19,0.33
1,2020,Akron,1,125,26,162,4.33
2,2020,Alabama,2,25,16,101,1.45
3,2020,App State,3,40,21,131,1.75
4,2020,Arizona,4,120,18,118,3.60
...,...,...,...,...,...,...,...
124,2018,West Virginia,124,82,29,204,2.42
125,2018,Western Ky.,125,97,32,204,2.67
126,2018,Western Mich.,126,27,20,103,1.54
127,2018,Wisconsin,127,43,24,151,1.85
128,2018,Wyoming,128,53,24,204,2.00

In [53]:
sacks.columns

Index(['Year', 'Team', 'Unique_ID', 'Sack_Rank', 'Sacks', 'Sack_Yards',
       'Average_Sacks_per_Game'],
      dtype='object')

In [117]:
turnovers = final_df[['year','team','unique_id',
 'turnover_rank',
 'fumbles_recovered',
 'opponents_intercepted',
 'turnovers_gain',
 'fumbles_lost',
 'interceptions_thrown_y',
 'turnovers_lost',
 'turnover_margin',
 'avg_turnover_margin_per_game']]
turnovers

,year,team,unique_id,turnover_rank,fumbles_recovered,opponents_intercepted,turnovers_gain,fumbles_lost,interceptions_thrown_y,turnovers_lost,turnover_margin,avg_turnover_margin_per_game
0,2020,Air Force,0,58,3,5,8,5,3,8,0,0.00
1,2020,Akron,1,98,4,2,6,3,6,9,-3,-0.50
2,2020,Alabama,2,12,10,11,21,7,4,11,10,0.91
3,2020,App State,3,57,3,15,18,6,11,17,1,0.08
4,2020,Arizona,4,126,1,2,3,5,7,12,-9,-1.80
...,...,...,...,...,...,...,...,...,...,...,...,...
124,2018,West Virginia,124,23,9,15,24,7,10,17,7,0.58
125,2018,Western Ky.,125,52,6,12,18,6,10,16,2,0.17
126,2018,Western Mich.,126,63,11,9,20,10,9,19,1,0.08
127,2018,Wisconsin,127,63,11,14,25,10,14,24,1,0.08
128,2018,Wyoming,128,40,5,10,15,7,4,11,4,0.33

In [118]:
rds_connection_string = "postgres:Speaker34j!@localhost:5432/college_football"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [119]:
engine.table_names()

[]

In [120]:
win_loss.to_sql(name='win_loss', con=engine, if_exists='append', index=False)

In [121]:
offense.to_sql(name='offense', con=engine, if_exists='append', index=False)

In [122]:
defense.to_sql(name='defense', con=engine, if_exists='append', index=False)

In [123]:
offense_firstdowns.to_sql(name='offense_firstdowns', con=engine, if_exists='append', index=False)

In [124]:
defense_firstdowns.to_sql(name='defense_firstdowns', con=engine, if_exists='append', index=False)

In [125]:
offense_fourthdowns.to_sql(name='offense_fourthdowns', con=engine, if_exists='append', index=False)

In [126]:
defense_fourthdowns.to_sql(name='defense_fourthdowns', con=engine, if_exists='append', index=False)

In [127]:
offense_kickoffs.to_sql(name='offense_kickoffs', con=engine, if_exists='append', index=False)

In [128]:
defense_kickoffs.to_sql(name='defense_kickoffs', con=engine, if_exists='append', index=False)

In [129]:
offense_passing.to_sql(name='offense_passing', con=engine, if_exists='append', index=False)

In [130]:
defense_passing.to_sql(name='defense_passing', con=engine, if_exists='append', index=False)

In [131]:
penalties.to_sql(name='penalties', con=engine, if_exists='append', index=False)

In [132]:
offense_punts.to_sql(name='offense_punts', con=engine, if_exists='append', index=False)

In [133]:
defense_punts.to_sql(name='defense_punts', con=engine, if_exists='append', index=False)

In [134]:
offense_redzone.to_sql(name='offense_redzone', con=engine, if_exists='append', index=False)

In [135]:
defense_redzone.to_sql(name='defense_redzone', con=engine, if_exists='append', index=False)

In [136]:
offense_rushing.to_sql(name='offense_rushing', con=engine, if_exists='append', index=False)

In [137]:
defense_rushing.to_sql(name='defense_rushing', con=engine, if_exists='append', index=False)

In [138]:
sacks.to_sql(name='sacks', con=engine, if_exists='append', index=False)

In [139]:
turnovers.to_sql(name='turnovers', con=engine, if_exists='append', index=False)

In [140]:
engine.table_names()

['win_loss',
 'offense',
 'defense',
 'offense_firstdowns',
 'defense_firstdowns',
 'offense_fourthdowns',
 'defense_fourthdowns',
 'offense_kickoffs',
 'defense_kickoffs',
 'offense_passing',
 'defense_passing',
 'penalties',
 'offense_punts',
 'defense_punts',
 'offense_redzone',
 'defense_redzone',
 'offense_rushing',
 'defense_rushing',
 'sacks',
 'turnovers']

In [141]:
pd.read_sql_query('select * from turnovers', con=engine)

,year,team,unique_id,turnover_rank,fumbles_recovered,opponents_intercepted,turnovers_gain,fumbles_lost,interceptions_thrown_y,turnovers_lost,turnover_margin,avg_turnover_margin_per_game
0,2020,Air Force,0,58,3,5,8,5,3,8,0,0.00
1,2020,Akron,1,98,4,2,6,3,6,9,-3,-0.50
2,2020,Alabama,2,12,10,11,21,7,4,11,10,0.91
3,2020,App State,3,57,3,15,18,6,11,17,1,0.08
4,2020,Arizona,4,126,1,2,3,5,7,12,-9,-1.80
...,...,...,...,...,...,...,...,...,...,...,...,...
381,2018,West Virginia,124,23,9,15,24,7,10,17,7,0.58
382,2018,Western Ky.,125,52,6,12,18,6,10,16,2,0.17
383,2018,Western Mich.,126,63,11,9,20,10,9,19,1,0.08
384,2018,Wisconsin,127,63,11,14,25,10,14,24,1,0.08
385,2018,Wyoming,128,40,5,10,15,7,4,11,4,0.33

In [142]:
print(win_loss)

     unique_id  year           team  games  win  loss
0            0  2020      Air Force      6    3     3
1            1  2020          Akron      6    1     5
2            2  2020        Alabama     11   11     0
3            3  2020      App State     12    9     3
4            4  2020        Arizona      5    0     5
..         ...   ...            ...    ...  ...   ...
124        124  2018  West Virginia     12    8     4
125        125  2018    Western Ky.     12    3     9
126        126  2018  Western Mich.     13    7     6
127        127  2018      Wisconsin     13    8     5
128        128  2018        Wyoming     12    6     6

[386 rows x 6 columns]

# PHASE TWO

In [79]:
csv_file3 = "Resources/stadium.csv"
stadium_df = pd.read_csv(csv_file3)
stadium_df.head()

,Stadium Code,Name,City,State,Capacity,Surface,Year Opened
0,1,Jordan-Hare Stadium,Auburn,AL,87451,Grass,1939
1,2,Legion Field,Birmingham,AL,71594,Grass,1927
2,3,Ladd-Peebles Stadium,Mobile,AL,40646,FieldTurf,1948
3,4,Movie Gallery Veterans Stadium,Troy,AL,30000,AstroPlay,1950
4,5,Bryant-Denny Stadium,Tuscaloosa,AL,92138,Grass,1929

In [80]:
csv_file3 = "Resources/team.csv"
team_df = pd.read_csv(csv_file3)
team_df.head()

   Team Code           Name  Conference Code
0          5          Akron              875
1          8        Alabama              911
2          9            UAB            24312
3         28  Arizona State              905
4         29        Arizona              905

In [81]:
csv_file3 = "Resources/game.csv"
game_df = pd.read_csv(csv_file3)
game_df.head()

,Game Code,Date,Visit Team Code,Home Team Code,Stadium Code,Site
0,5012820130829,08/29/2013,5,128,146,TEAM
1,102063020130829,08/29/2013,102,630,18,TEAM
2,299004720130829,08/29/2013,299,47,48,TEAM
3,305030620130829,08/29/2013,305,306,47,TEAM
4,314071820130829,08/29/2013,314,718,58,TEAM

In [82]:
team_cols = ["Team Code", "Name"]
team_transformed= team_df[team_cols].copy()

team_transformed = team_transformed.rename(columns={"Team Code": "team_id",
                                                          "Name": "team_name"})

team_transformed.drop_duplicates("team_id", inplace=True)
team_transformed.set_index("team_id", inplace=True)

team_transformed.head()

             team_name
team_id
5                Akron
8              Alabama
9                  UAB
28       Arizona State
29             Arizona

In [83]:
stadium_cols = ["Stadium Code", "Name", "Capacity", 'City']
staium_transformed = stadium_df[stadium_cols].copy()


staium_transformed = staium_transformed.rename(columns={"Stadium Code": "stadium_id",
                                                         "Name": "stadium_name",
                                                         "Capacity": "capacity",
                                                         "City": "city"})

staium_transformed.set_index("stadium_id", inplace=True)

staium_transformed.head()

                              stadium_name  capacity        city
stadium_id
1                      Jordan-Hare Stadium     87451      Auburn
2                             Legion Field     71594  Birmingham
3                     Ladd-Peebles Stadium     40646      Mobile
4           Movie Gallery Veterans Stadium     30000        Troy
5                     Bryant-Denny Stadium     92138  Tuscaloosa

In [84]:
game_cols = ["Visit Team Code", "Home Team Code", "Stadium Code"]
game_transformed = game_df[game_cols].copy()

game_transformed = game_transformed.rename(columns={"Visit Team Code": "visit_id",
                                                         "Home Team Code": "stadium_name",
                                                         "Stadium Code": "capacity",
                                                         "City": "city"})

game_transformed.set_index("stadium_id", inplace=True)

game_transformed.head()

KeyError: "None of ['stadium_id'] are in the columns"